<% @title = 'Home' %>
<% if user_signed_in? %>
  <h1>Welcome back, <%= current_user.first_name %>.</h1>
<% else %>
  <h1>Hello.</h1>
<% end %>

<h3>Looking for something?</h3>
<form action="/templates" method="GET">
  <input class="form-control" type="text" name="search" placeholder="Search">
</form>
<h5>Not sure what you're looking for? <a href="/discover">Browse the catalogue</a>.</h5>

<h3>Recommended for you</h3>
<% @recommended.each do |template| %>
  <div class="media">
    <%= link_to(template, class: 'pull-left') do %>
      <%= image_tag(template.image_path, class: 'media-object',
        alt: template.title, width: '100') %>
    <% end %>
    <div class="media-body">
      <%= link_to(template) do %>
        <h4 class="media-heading"><%= template.title %></h4>
      <% end %>
      <p><%= template.description %></p>
    </div>
  </div>
<% end %>