<%#*<ul>%>
<%# @templates.each do |template| %>
  <%#*<li><%= template.title %>
<%# end %>
<%#*</ul>%>

<%= stylesheet_link_tag 'discover' %>
<%= javascript_include_tag 'index' %>
<div class="row">
  <div class="col-md-3">
    <ul id="categoryList" class="nav nav-pills nav-stacked">
      <% first = true %>
      <% @categories.each do |category| %>
        <li class="categories" data-category-id="<%= category.id %>">
          <a href="#">
            <%= category.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-9">
    <% @categories.each do |category| %>
      <div class="categories hidden" data-category-id="<%= category.id %>">
        <div>
          <h3>Most popular</h3>
          <ul>
          <% @popular[category.id].each do |template| %>
            <div class="media">
              <%= link_to(template, class: 'pull-left') do %>
                <%= image_tag(template.image_path, class: 'media-object',
                  alt: template.title, width: '100') %>
              <% end %>
              <div class="media-body">
                <%= link_to(template) do %>
                  <h4 class="media-heading"><%= template.title %></h4>
                <% end %>
                <p><%= template.description %><br>
                  <span class="gray" id="numDownloadsSpan"><%= template.downloads_text %></span></p>
              </div>
            </div>
          <% end %>    
          </ul>
        </div>
        
        <div>
          <h3>Highly rated</h3>
        </div>

        <div>
          <h3>Newest</h3>
        </div>
      </div>
    <% end %>
  </div>
</div>