<%= stylesheet_link_tag 'show' %>
<%= javascript_include_tag 'show' %>
<% @title = @template.title %>
<script>
  var id = <%= @template.id %>;
  var numDownloads = <%= @template.downloads %>;
</script>

<div class="pull-left">
  <div>
    <h1><%= @template.title %></h1>
    <h4><%= @template.description %></h4>
    <p class="gray">
      <%= @creator.full_name %><br>
      <%= @category.name %><br>
    </p>
    
    <span class="gray" id="numDownloadsSpan"><%= @template.downloads_text %></span><br>
    
    <%= link_to('Download', @template.image_path, download: 'image.jpg', class: 'btn btn-default', id: 'downloadButton', remote: 'download') %>
  </div>
  
  <div id="reviewsSection">
    <h4>Reviews</h4>
    <button id="addReviewButton" class="btn btn-default">Add review</button>
    <div id="addReviewDiv" class="hidden">
      <div class="form-group stars">

      </div>
      <textarea id="commentTextarea" class="form-group form-control" placeholder="Enter review here"></textarea>
      <button id="createReviewButton" class="btn btn-default">Add review</button>
    </div>
    
    <div id="reviews">
      <% @reviews.each do |review| %>
        <blockquote>
          <p><%= review.comment %></p>
          <div>
            <%=raw review.stars_html %>
          </div>
          <small>AUTHOR, <%= review.created_at_pretty %></small>
        </blockquote>
      <% end %>
    </div>
  </div>
</div>

<div class="pull-right">
  <%= image_tag(@template.image_path,
    alt: @template.title, height: '300', id: 'previewImage') %>
</div>