<%= javascript_include_tag 'show' %>
<% @title = @template.title %>
<script>
  var id = <%= @template.id %>;
  var numDownloads = <%= @template.downloads %>;
</script>

<div class="pull-left">
  <div>
    <h1 id="templateTitle"><%= @template.title %></h1>
    <h4 id="templateDescription"><%= @template.description %></h4>
    <p class="gray">
      <%= @creator.full_name %><br>
      <%= @category.name %><br>
    </p>
    
    <span class="gray" id="numDownloadsSpan"><%= @template.downloads_text %></span><br>
    
    <%= link_to('Download', @template.image_path, download: 'image.jpg', class: 'btn btn-default', id: 'downloadButton') %>
    
    <% if user_signed_in? and current_user.admin? %>
      <br><button class="btn btn-primary" id="editButton">Edit template</button>
      <br><button class="btn btn-danger" id="deleteButton">Delete template</button>
    <% end %>
  </div>
  
  <div id="reviewsSection">
    <h4>Reviews</h4>
    <% if user_signed_in? %>
      <%# Disable add review button if user has already reviewed %>
      <% if @template.has_user_reviewed? current_user %>
        <% add_review_disabled = 'disabled' %>
      <% else %>
        <% add_review_disabled = '' %>
      <% end %>

      <button id="addReviewButton" class="btn btn-default" <%= add_review_disabled %>>Add review</button>
    <% end %>
      
    <div id="addReviewDiv" class="hidden">
      <div class="form-group stars">
      </div>
      <textarea id="commentTextarea" class="form-group form-control" placeholder="Enter review here"></textarea>
      <button id="createReviewButton" class="btn btn-default">Add review</button>
    </div>
    
    <div id="reviews">
      <% @reviews.each do |review| %>
        <blockquote>
          <p><%= review.comment %></p>
          <div>
            <%=raw review.stars_html %>
          </div>
          <small>
          
          <% if current_user == review.user %>
            You
          <% else %>
            <%= review.user.full_name %>
          <% end %>
          , <%= review.created_at_pretty %></small>
        </blockquote>
      <% end %>
    </div>
  </div>
</div>

<div class="pull-right">
  <%= image_tag(@template.preview_path,
    alt: @template.title, height: '300', id: 'previewImage') %>
</div>