<!DOCTYPE html> 
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag "bootstrap.min", "shared" %>
  <%= javascript_include_tag "jquery-2.0.3.min", "bootstrap.min", "bootbox.min.js", "shared", "jquery_ujs" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div id="header">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Easy Design</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <%
              case @title
                when 'Upload'
                  upload_class = 'active'
                when 'Discover'
                  discover_class = 'active'  
              end
            %>
            
            <li class="<%= discover_class %> "><%= link_to "Discover", '/discover' %></li>
            <li class="<%= upload_class %>"><%= link_to "Upload", '/upload' %></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.full_name %>
                  <i class="caret"></i>
                  <% if current_user.admin? %>
                    <span class="label label-primary">ADMIN</span>
                  <% end %>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to('Edit profile', edit_user_registration_path) %></li>
                  <li class="divider"></li>
                  <li><%= link_to('Sign out', destroy_user_session_path, method: :delete) %></li>
                </ul>
              </li>
            <% else %>
              <%= link_to('Sign in', new_user_session_path, class: 'btn btn-default', id: 'signinButton') %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <p><%= notice %></p>
    <p><%= alert %></p>
    <%= yield %>
  </div>
</body>
</html>
