<% @title = 'Categories' %>
<%= javascript_include_tag 'categories' %>
<h1>Categories</h1>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Existing categories</h3></div>
      <div class="panel-body">
        <ul class="list-group">
          <% @categories.each do |category| %>
            <li class="list-group-item" data-category-id="<%= category.id %>">
              <span class="category-name"><%= category.name %></span>
              <span class="glyphicon glyphicon-pencil pull-right edit-category-button"></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">New category</h3></div>
      <div class="panel-body">
        <%= form_for :category, url: categories_path do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        
          <%= f.submit 'Add', class: 'btn btn-default' %>
        <% end %> 
      </div>
    </div>
  </div>
</div>